* {
    font-family: Roboto, sans-serif;
}
.link:hover {
    text-decoration: underline;
    text-decoration-color: #0feaea;
}

#main {
    background-color: #eee;
}

/*************************************
buttons
**************************************/
.app-button {
    border: none;
    border-radius: 9px;
    padding: 0;
}
.app-button .button-bg {
    text-align: center;
    background-color: rgba(29, 29, 29, .5);
    height: 100%;
    width: 100%;
    padding: 14px;
    border-radius: inherit;
    transition: background-color .5s;
}
.app-button .button-bg:hover {
    background-color: rgba(29, 29, 29, .2);
}

.app-button.creation {
    background: linear-gradient(to bottom right, #08a451, #005fad);
    color: #eee;
}

/*************************************
Header
**************************************/
header.app-header {
    background-color: #000;
    color: #fff;
    padding: 19px 0;
}
header.app-header .title {
    font-weight: bold;
}

header.app-header .title,
header.app-header .app-navigation .nav {
    padding: 9px;
}
header.app-header .app-navigation .nav:hover {
    cursor: pointer;
}

header.app-header .app-navigation .nav:not(:last-child) {
    margin-right: 9px;
}
/*************************************
Project Header
**************************************/
.info-header {
    padding: 14px 9px;
    background: linear-gradient(to bottom right, #04717e, #56601c);
}

.info-header i,
.info-header .title {
    font-weight: bold;
    font-size: 1.1em;
}
.info-header i {
    color: #0feaea;
    line-height: 1.2;
}
.info-header .title {
    color: #eee;
    margin-left: 9px;
}
.info-header i,
.info-header .title,
.info-header .link {
    padding: 9px 0;
}

/*************************************
filter bar
**************************************/
.filter-bar {
    padding: 14px 4px;
    background-color: #eee;
}
}