* {
    font-family: Roboto, sans-serif;
}

/*************************************
Header
**************************************/
header.app-header {
    background-color: #000;
    color: #fff;
    padding: 19px 0;
}
header.app-header .title {
    font-weight: bold;
}

header.app-header .title,
header.app-header .app-navigation .nav {
    padding: 9px;
}
header.app-header .app-navigation .nav:hover {
    cursor: pointer;
}

header.app-header .app-navigation .nav:not(:last-child) {
    margin-right: 9px;
}